*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grandparent {
  width: 500px;
  height: 500px;
  background-color: red;
  display: grid;
  place-items: center;
}
.parent {
  width: 400px;
  height: 400px;
  background-color: rgb(43, 8, 139);
  display: grid;
  place-items: center;
}
.child {
  width: 300px;
  height: 300px;
  background-color: rgb(27, 158, 81);
}
